<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cat-content">

  <div class="cat-grid">
    <div class="cat-card" *ngFor="let o of opciones" (click)="irA(o.ruta)">
      <div class="cat-icon-wrap">
        <ion-icon [name]="o.icon"></ion-icon>
      </div>
      <span class="cat-label">{{ o.titulo }}</span>
      <ion-icon name="chevron-forward-outline" class="cat-arrow"></ion-icon>
    </div>
  </div>

</ion-content>
